@model SistemaDeEncomendas.Models.Clientes

@{
    ViewData["Title"] = "Excluir Cliente";
}

<div class="row align-items-center">
    <div class="col-auto d-flex align-items-center">
        <h1 class="navbar-brand text-danger d-flex align-items-center align-self-stretch"><i class="fa-solid fa-address-card fa-2x"></i>&nbsp;Excluir Cliente</h1>
    </div>    
</div>

<h3 class="text-danger">Tem certeza que deseja excluir o(a) cliente @Model.Nome?</h3>
<div>    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2 text-secondary">
            Código
        </dt>
        <dd class="col-sm-10 text-secondary">
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        @if(string.IsNullOrEmpty(Model.Endereco))
            {
                <dd class="col-sm-10 text-danger">Não Preenchido</dd>
            } else
            {
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
            }

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        @if(string.IsNullOrEmpty(Model.Email))
            {
                <dd class="col-sm-10 text-danger">Não Preenchido</dd>
            } else
            {
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
            }

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tel)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelAdc)
        </dt>
        @if(string.IsNullOrEmpty(Model.TelAdc))
            {
                <dd class="col-sm-10 text-danger">Não Preenchido</dd>
            } else
            {
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelAdc)
        </dd>
            }
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" />&nbsp;
        <a asp-action="Index"><input type="button" value="Não Excluir" class="btn btn-primary" /></a>
    </form>
</div>
